<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MPW Cabrera - Accounts</title>
		<link rel="icon" href="../assets/logo/logo32x32.ico">
		<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
		<link rel="stylesheet" href="../styles/design.css">
		<link rel="stylesheet" href="../styles/accounts.css">
	</head>
<body>
    <div class="Navigation-Bar">
        <nav>
            <ul>		
                <div class="nav-item option-btns">
                    <div class="nav-item home-btn"><li><a href="home.html"><button id="btn">Home</button></a></li></div>
                    <div class="nav-item gallery-btn"><li><a href="gallery.html"><button id="btn">Gallery</button></a></li></div>
                    <div class="nav-item others-btn"><li><a href="accounts.html"><button id="btn">Accounts</button></a></li></div>
                </div>
            </ul>
        </nav>
    </div>
    <div class="innerbody">
        <div class="innerbody-title"><h1>My Accounts Page</h1></div>
        <div class="innerbody-sociomed">
            <div class="innerbody-desc1">
                <h2 id="innerbody-desc1">
                    I am Mark Alexis Jaudian Cabrera, a 3rd year irregular College student at Pamantasan ng Lungsod ng Muntinlupa and currently 
                    studying Bachelor of Science in Information Technology (BSIT). Here 
                    are some of my social media accounts and Developer Accounts. Press the blue button to go directly 
                    to my profile. 
                </h2>
            </div>
            <table>
                    <tr>
                        <td><h3>Facebook  :</h3></td>
                        <td><a href="https://www.facebook.com/markalexis.jaudiancabrera.9/" target="_blank"><button id="sociomed-btn">Go to Facebook</button></a></td>
                    </tr>
                    <tr>
                        <td><h3>Instagram :</h3></td>
                        <td><a href="https://www.instagram.com/markalexiscabrera_ig/" target="_blank"><button id="sociomed-btn">Go to Instagram</button></a></td>
                    </tr>
                    <tr>
                        <td><h3>Twitter   :</h3></td>
                        <td><a href="https://twitter.com/MarkAlexis24380/" target="_blank"><button id="sociomed-btn">Go to Twitter</button></a></td>
                    </tr>
                    <tr>
                        <td><h3>Github   :</h3></td>
                        <td><a href="https://github.com/MarkAlexisJaudianCabrera" target="_blank"><button id="sociomed-btn">Go to Github</button></a></td>
                    </tr>
                    <tr>
                        <td><h3>LinkedIn   :</h3></td>
                        <td><a href="https://www.linkedin.com/in/mark-alexis-cabrera-50007a282/" target="_blank"><button id="sociomed-btn">Go to LinkedIn</button></a></td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        <div class="footer-styles">
            <div class="footer-box1"></div>
            <div class="footer-box2"></div>
        </div>
    </div>
</body>
</html>