<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MPW Cabrera - Gallery</title>
		<link rel="icon" href="../assets/logo/logo32x32.ico">
		<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
		<link rel="stylesheet" href="../styles/design.css">
		<link rel="stylesheet" href="../styles/gallery.css">
	</head>
	<body>
		<div class="Navigation-Bar">
			<nav>
				<ul>		
					<div class="nav-item option-btns">
						<div class="nav-item home-btn"><li><a href="home.html"><button id="btn">Home</button></a></li></div>
						<div class="nav-item gallery-btn"><li><a href="gallery.html"><button id="btn">Gallery</button></a></li></div>
						<div class="nav-item others-btn"><li><a href="accounts.html"><button id="btn">Accounts</button></a></li></div>
					</div>
				</ul>
			</nav>
		</div>

		<div class="innerbody">
			<div class="innerbody-title"><h1>My Gallery Page</h1></div>
			<br>
			<div class="row1">
				<div class="column1">
				  	<div class="card1">
						<video width="100%" height="auto" controls>
							<source id="img vid" src="../assets/video/video1.mp4" type="video/mp4">
							Unable to play video. An error occurred while loading this content 
						</video>
					</div>
				</div>
			</div>
			<br>
			<div class="row2">
				<div class="column2">
				  <div class="card2">
					<img id="img" src="../assets/gallerypg/image8.jpg" alt="">
				  </div>
				</div>
				<div class="column2">
				  <div class="card2">
					<img id="img" src="../assets/gallerypg/image7.jpg" alt="">
				  </div>
				</div>
			</div>
			<br> 
			<div class="row3">
				<div class="column3">
				  <div class="card3">
					<img id="img" src="../assets/gallerypg/image6.jpg" alt="">        
				  </div>
				</div>
				<div class="column3">
				  <div class="card3">
					<img id="img" src="../assets/gallerypg/image5.jpg" alt="">
				  </div>
				</div>
			</div>
			<br>
			<div class="row3">
				<div class="column3">
				  <div class="card3">
					<img id="img" src="../assets/gallerypg/image4.jpg" alt="">
				  </div>
				</div>
				<div class="column3">
				  <div class="card3">
					<img id="img" src="../assets/gallerypg/image3.jpg" alt="">
				  </div>
				</div>
			</div>
			<br>
			<div class="row3">
				<div class="column3">
				  <div class="card3">
					<img id="img" src="../assets/gallerypg/image2.jpg" alt="">
				  </div>
				</div>
				<div class="column3">
				  <div class="card3">
					<img id="img" src="../assets/gallerypg/image1.jpg" alt="">
				  </div>
				</div>
			</div>
			<br>
			<br>
		</div>
		<div class="footer">
			<div class="footer-styles">
				<div class="footer-box1"></div>
				<div class="footer-box2"></div>
			</div>
		</div>
	</body>
</html>