<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/logo/logo32x32.ico">
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
        <link rel="stylesheet" href="../styles/home.css">
        <link rel="stylesheet" href="../styles/design.css">
        <title>Cabrera - Home</title>
    </head>
    <body>
        <div class="Navigation-Bar">
            <nav>
                <ul>	
                    <div class="nav-item option-btns">
                        <div class="nav-item home-btn"><li><a href="home.html"><button id="btn">Home</button></a></li></div>
                        <div class="nav-item gallery-btn"><li><a href="gallery.html"><button id="btn">Gallery</button></a></li></div>
                        <div class="nav-item others-btn"><li><a href="accounts.html"><button id="btn">Accounts</button></a></li></div>
                    </div>
                </ul>
            </nav>
        </div>

        <div class="innerbody">
            <div class="innerbody-title"><h1>My Introduction Page</h1></div>
            <div class="innerbody-desc1">
                <p id="innerbody-desc1">
                    Greetings! I am Mark Alexis Jaudian Cabrera, I am 21 years old and 
                    currently studying under the course of Bachelor of Science in 
                    Information of Technology (BSIT) at the Pamantasan ng Lungsod ng 
                    Muntinlupa. A BSIT Student and a Web Developer that was particular 
                    in front end development. Learned with some kinds of programming 
                    languages for making web projects. 
                    <br>
                    <br>
                    As a 3rd year irregular student, I am willing to help those who 
                    lacks in the use of communication and modern technology. And 
                    strengthen my courage to meet new people that may become into friendship. 
                    I also want to improve and to develop my skills that I can use in my daily 
                    work. And I also hope that I can learn something from this subject. I am 
                    also willing to learn and study well just for myself and for the coming 
                    future of my life and the challenges that I will face.
                </p>
            </div>

            <div class="innerbody-img"><img class="image" id="innerbody-img" src="../assets/avatar.JPG" alt="Avatar"></div>
            <div class="innerbody-name"><h2>Mark Alexis Jaudian Cabrera</h2><h3>WEBTEC1 - IT1A - IRREGULAR</h3></div>

            <div class="innerbody-desc2">
                <p id="innerbody-desc2">
                    In the past years I studied very well and make my mother 
                    (Janet J. Cabrera) and my father (Alex R. Cabrera) proud of me
                    so their hardwork and suffer may not go to nothing.
                    I also graduated elementary from Putatan Elementary School (PES), 
                    moving up to Grade 10 at Muntinlupa National High School-Tunasan 
                    Annex (MNHS-TA), graduated Grade 12 from STI College Alabang 
                    (STICA) with a strand of Information of Technology-Mobile App and 
                    Web Development (IT-MAWD), went and studies BS Information Technology 
                    at Lyceum Of Alabang with 1st and 2nd year, and continuing my studies at
                    Pamantasan ng Lungsod of Muntinlupa.
                </p>
            </div>

            <div class="innerbody-hobbies">
                <h2>My Hobbies: </h2>
                <ol>
                    <li>Coding</li>
                    <li>Reading</li>
                    <li>Watching Anime</li>
                    <li>Listening Musics</li>
                    <li>Gaming</li>
                </ol>
            </div>
            <div class="innerbody-prolang">
                <h2>My Programming Languages: </h2>
                <ol>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Java</li>
                    <li>Python</li>
                    <li>C#</li>
                    <li>C++</li>
                    <li>PHP</li>
                    <li>SQL</li>
                    <li>Kotlin</li>
                    <li>Assembly</li>
                    <li>Excel Programming</li>
                </ol>
            </div>
        </div>
        <div class="footer">
            <div class="footer-styles">
                <div class="footer-box1"></div>
                <div class="footer-box2"></div>
            </div>
        </div>
    </body>
</html>